:root {
  --accent-blue: #1e2e5e;
  --accent-orange: #ebb460;
  --bg-color: #f3f3eb;
  --navbar-height: 100px;
  --button-height: 40px;
  --button-width: 100px;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  background-color: var(--bg-color);
}

* {
  color: var(--accent-blue);
}

.app {
  padding-top: var(--navbar-height);
  position: relative;
  min-height: 100vh;
  padding-bottom: 70px;
}

button {
  appearance: none;
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
}

button:focus {
  outline: none;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80vh;
  gap: 50px;
  padding: 50px;
}

.sec-image {
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  flex: 1;
  width: 100%;
  height: 100%;
}

.sec-p-container {
  border: 3px solid var(--accent-blue);
  height: 100%;
  flex: 1;
  padding: 100px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  overflow: clip;
}

.sec-p-container h1 {
  font-size: 3rem;
  font-weight: bold;
}

.sections-container {
  margin-top: 20vh;
}

.btn1 {
  background: none;
  border: none;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  position: relative;
  padding: 5px;
  width: max-content;
  height: max-content;
  text-decoration: none;
}

.btn1::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 3px;
  background-color: var(--accent-orange);
  transition: all 0.3s ease-in-out;
}

.btn1:hover::after {
  width: 100%;
}

.btn2 {
  background: none;
  border: 3px solid var(--accent-blue);
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  position: relative;
  padding: 10px 20px;
  width: max-content;
  height: max-content;
  text-decoration: none;
}

.btn2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: var(--accent-orange);
  transition: all 0.3s ease-in-out;
  z-index: -1;
}

.btn2:hover::before {
  width: 100%;
}

.outer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.title-image {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 80vh;
  width: 70%;
  border-radius: 30px;
  position: relative;
}

.title-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.title-container h1 {
  color: var(--accent-orange);
}

.arrow-simple {
  font-size: 2rem;
  background-color: transparent;
  position: absolute;
  bottom: 10px;
  animation: arrow-circle 1s ease-in-out infinite;
  cursor: pointer;
}

.arrow-simple path {
  color: var(--accent-orange);
}

@media screen and (max-width: 768px) {
  :root {
    --navbar-height: 60px;
  }

  section {
    flex-direction: column;
    height: 100%;
    gap: 20px;
    padding: 20px;
  }
  .sec-image {
    display: none;
  }
  .sec-p-container {
    height: 50vh;
    padding: 30px 20px;
    gap: 20px;
  }
  .sec-p-container h1 {
    font-size: 1.5rem;
  }

  .sec-p-container p {
    font-size: 0.8rem;
  }

  .sec-p-container .btn1,
  .sec-p-container .btn2 {
    font-size: 0.8rem;
  }
}
